.header {
  background: #FFF;
}

.header__inner {
  margin: 0 auto;
  padding: 10px 50px;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.header__nav {
  display: inline-block;
}

.header__nav-item {
  display: inline-block;
  padding: 0 15px;
}

.footer {
  margin: 10px auto;
  text-align-last: center;
  background-color: #FFF;
}