.main {
  background-color: #F2F2F2;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

.main__greeting-item {
  text-align: center;
}

.main__buttons {
  text-align: center;
}

.work__buttons-form{
  display: inline;
}

.work__button-item {
  height: 200px;
  width: 40%;
  margin: 10px;
  padding: 15px 15px;
  background-color: #FFF;
  border-color: #FFF;
}

.rest__buttons-form {
  display: inline;
}

.rest__button-item {
  height: 200px;
  width: 40%;
  margin: 10px;
  padding: 15px 15px;
  background-color: #FFF;
  border-color: #FFF;
}