.header {
  background: #FFF;
}

.header__inner {
  margin: 0 auto;
  padding: 10px 50px;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.header__nav {
  display: inline-block;
}

.header__nav-item {
  display: inline-block;
  padding: 0 15px;
}

.main {
  background-color: #F2F2F2;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

.main__greeting-item {
  text-align: center;
}

.main__buttons {
  text-align: center;
}

.work__button-item {
  display: inline;
  height: 200px;
  width: 40%;
  margin: 10px;
  padding: 15px 15px;
  background-color: #FFF;
  border-color: #FFF;
}

.rest__button-item {
  display: inline;
  height: 200px;
  width: 40%;
  margin: 10px;
  padding: 15px 15px;
  background-color: #FFF;
  border-color: #FFF;
}

.footer {
  margin: 10px auto;
  text-align-last: center;
  background-color: #FFF;
}